:root {
    --primary: #7c3aed;
    --primary-dark: #5b21b6;
    --primary-light: #a78bfa;
    --secondary: #22d3ee;
    --error: #ef4444;

    --bg-main: #0f172a;
    --bg-card: #111827;

    --border: #1f2933;

    --text-primary: #f9fafb;
    --text-secondary: #9ca3af;
}
